/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 may. 2019, 16:33:08
    Author     : joser
*/

/*ESTILOS_VISTA.USUARIO-------------------------------------------------------*/

.paneinicio{
    /*-fx-background-color: rgba(255, 76, 110,0.6);*/
    -fx-background-color: rgba(219, 210, 210, 0.6);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.paneAgencia{
    -fx-background-color: rgba(255, 255, 255, 0.7);
    /*-fx-background-color: rgba(247, 196, 255, 0.6);*/
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.botoninicio{
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;

    -fx-background-color: rgb(161, 131, 89); 
    -jfx-button-type: RAISED;
    -fx-padding: 0.7em 0.57em;
    -fx-border: solid;
}

.recordarpassword{
    -fx-text-fill:#3333ff;
}

.recordarpassword:hover{
    -fx-text-fill:#000099;
}


/*ESTILOS_VISTA.REGISTRO------------------------------------------------------*/

.panePerfil{
    /*-fx-background-color: rgba(237, 21, 63, 0.6);*/
    -fx-background-color: rgba(255, 255, 255,0.6);
    /*-fx-background-color: rgba(247, 196, 255, 0.6);*/
    -fx-background-radius: 20;
}

.calendarioRegistrar{
    -jfx-default-color: rgb(77,102,204);
    -fx-control-inner-background: rgb(240, 240, 240);
    -fx-pref-width: 220.0;
    -fx-pref-height: 180.0;
}

.calendarioRegistrar:hover{
    -jfx-default-color: rgb(33,68,208);
}

.botonAceptarRegistro{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
}

.botonEliminar{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #ff0000
}


/*ESTILOS_VISTA.PRINCIPAL-----------------------------------------------------*/

.menu{
    /*    -fx-background-color: rgb(77,102,204);*/
    -fx-background-color:rgb(226, 207, 181);
}

.botonMenu{
    -fx-font-weight: bold;
    -fx-text-fill: #666666;

    -fx-font-size: 16px;
    -fx-font-weight: bold;
    /*-fx-background-color: rgb(77,102,204);*/
    -fx-background-color:rgb(226, 207, 181);
    -fx-border: solid;
}

.botonMenu:hover{
    -fx-font-weight: bold;
    -fx-text-fill: #000000;

    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-color:#ffffff;
    -fx-cursor:hand;
}

/*ESTILOS_VISTA.ACTIVIDADES---------------------------------------------------*/

.listaActividades{
    -fx-background: rgba(255,0,0, 0.3);
    -fx-background-color:transparent;
}

.scrollPaneActividades{
    /*-fx-background: rgba(255,0,0, 0.3);*/
    -fx-background: rgba(247, 196, 255, 0.3);
    -fx-background: rgba(0, 0, 0, 0);
    -fx-background-color:transparent;
}

.paneInformacionActividades{
    -fx-background-color: rgba(175, 175, 175, 0.8);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.botonActividad{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(161, 131, 89); 
    /*    -fx-background-color: rgb(226, 207, 181);*/
    -fx-text-fill:BLACK;
}

.botonActividad:hover{
    -fx-font-weight: bold;
    -fx-text-fill: #666666;

    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color:#ffffff;
    -fx-cursor:hand;
}

.botonCerrarInformacion{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 10px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(238,32,32);
    -fx-text-fill: WHITE;
}

.tituloActividades {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
}

.textoActividad{
    -fx-text-fill: BLACK;
    -fx-font-size: 14px;
    /*-fx-background-color: rgb(77,102,204);*/
    -fx-background-color:rgb(226, 207, 181);
}


/*ESTILOS_VISTA.EXPERIENCIAS--------------------------------------------------*/

.botonCrearExperiencia{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
}

.botonAnyadir{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
}

.botonImprimirExperiencia{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(20,40,100);
}
.botonAnyadirExperiencia{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #3366ff;
}

.paneexperiencia{
    -fx-background-color: rgba(226, 207, 181, 0.9);
    -fx-background-radius: 8;
}

.paneExperienciaTitulo{
    /*-fx-background-color: rgba (165, 147, 122, 0.8);*/  
    -fx-background-color: rgba(165, 147, 122, 0.8);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.combo{
    -fx-background-color: white; 
}

.paneActividadBuscadorSeleccionado{
    -fx-background-color: rgba(60, 182, 214, 0.8);
    -fx-background-radius: 20;
}

/*ESTILOS_VISTA.BUSCADOR------------------------------------------------------*/

.paneActividadBuscador{
    -fx-background-color: rgba(192, 166, 131,1); 
    -fx-background-radius: 20;
}

.paneBuscador{

    -fx-background: rgba(255, 255, 255, 0.6);
    -fx-background-color:transparent;
    -fx-background-radius: 20;
}

.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.buscador{
    -fx-background-color: #cccccc;
}

.tituloBusc{
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
    -fx-font-size: 16px;
}

.descripcionBusc{
    text-area-background:rgb(226, 207, 181);
}

.descripcionBusc .content{
    -fx-background-color: text-area-background;
}

/*ESTILOS_VISTA.INFORMACION---------------------------------------------------*/

.imgInfor{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-background-color: rgb(165, 147, 122);
    -fx-background-radius: 5;
}

/*ESTILOS_VISTA.PERFIL--------------------------------------------------------*/

.panePerfilPersonal{
    -fx-background-color: rgb(217, 219, 221);
    -fx-background-radius: 10;
    -fx-border-color: rgb(161, 131, 89);
    -fx-border-width: 5 ; 
}

/* ESTILOS_EXPERIENCIAS_ADMIN_CONTROLLER ------------------------------------*/
.fondoExperienciaAdmin {
    -fx-background-color: rgb(217, 219, 221);
}









/*.botonCancelar{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 12px;
    -fx-background-color: #ff0000
}

/*.botonIcono{
    -fx-background-color:#fff952;
}*/

