/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 may. 2019, 16:33:08
    Author     : joser
*/

/*ESTILOS_VISTA.USUARIO-------------------------------------------------------*/

.paneinicio{
    /*-fx-background-color: rgba(255, 76, 110,0.6);*/
    -fx-background-color: rgba(219, 210, 210, 0.6);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.paneAgencia{
    -fx-background-color: rgba(255, 255, 255, 0.7);
    /*-fx-background-color: rgba(247, 196, 255, 0.6);*/
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.botoninicio{
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;

    -fx-background-color: rgb(161, 131, 89); 
    -jfx-button-type: RAISED;
    -fx-padding: 0.7em 0.57em;
    -fx-border: solid;
    -fx-cursor:hand;
}

.recordarpassword{
    -fx-text-fill:#3333ff;
}

.recordarpassword:hover{
    -fx-text-fill:#000099;
}


/*ESTILOS_VISTA.REGISTRO------------------------------------------------------*/

.panePerfil{
    /*-fx-background-color: rgba(237, 21, 63, 0.6);*/
    -fx-background-color: rgba(255, 255, 255,0.6);
    /*-fx-background-color: rgba(247, 196, 255, 0.6);*/
    -fx-background-radius: 20;
}

.calendarioRegistrar{
    -jfx-default-color: rgb(77,102,204);
    -fx-control-inner-background: rgb(240, 240, 240);
    -fx-pref-width: 220.0;
    -fx-pref-height: 180.0;
}

.calendarioRegistrar:hover{
    -jfx-default-color: rgb(33,68,208);
}

.botonAceptarRegistro{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
    -fx-cursor:hand;
}

.botonEliminar{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #ff0000;
    -fx-cursor:hand;
}



/*ESTILOS_VISTA.PRINCIPAL-----------------------------------------------------*/

.menu{
    /*    -fx-background-color: rgb(77,102,204);*/
    -fx-background-color:rgb(226, 207, 181);
}

.botonMenu{
    -fx-font-weight: bold;
    -fx-text-fill: #666666;

    -fx-font-size: 16px;
    -fx-font-weight: bold;
    /*-fx-background-color: rgb(77,102,204);*/
    -fx-background-color:rgb(226, 207, 181);
    -fx-border: solid;
    -fx-cursor:hand;
}

.botonMenu:hover{
    -fx-font-weight: bold;
    -fx-text-fill: #000000;

    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-color:#ffffff;
    -fx-cursor:hand;
}

.botonRedes{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 50em;
    -fx-background-color: white;
}
.botonRedes:hover{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 50em;
    -fx-background-color: white;
}
.etiquetaRedesSociales{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-background-color: white;
}
/*ESTILOS_VISTA.ACTIVIDADES---------------------------------------------------*/

.listaActividades{
    -fx-background: rgba(255,0,0, 0.3);
    -fx-background-color:transparent;
}

.scrollPaneActividades{
    /*-fx-background: rgba(255,0,0, 0.3);*/
    -fx-background: rgba(247, 196, 255, 0.3);
    -fx-background: rgba(0, 0, 0, 0);
    -fx-background-color:transparent;
}

.paneInformacionActividades{
    -fx-background-color: rgba(175, 175, 175, 0.8);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.botonActividad{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(161, 131, 89); 
    /*    -fx-background-color: rgb(226, 207, 181);*/
    -fx-text-fill:BLACK;
    -fx-cursor:hand;
}

.botonActividad:hover{
    -fx-font-weight: bold;
    -fx-text-fill: #666666;

    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color:#ffffff;
    -fx-cursor:hand;
}

.botonCerrarInformacion{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 10px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(238,32,32);
    -fx-text-fill: WHITE;
    -fx-cursor:hand;
}

.tituloActividades {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
}

.textoActividad{
    -fx-text-fill: BLACK;
    -fx-font-size: 14px;
    /*-fx-background-color: rgb(77,102,204);*/
    -fx-background-color:rgb(226, 207, 181);
}


/*ESTILOS_VISTA.EXPERIENCIAS--------------------------------------------------*/

.botonCrearExperiencia{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
    -fx-cursor:hand;
}
.botonCrearExperiencia:hover{
    -fx-font-weight: bold;
    -fx-text-fill: rgb(2,144,46);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: WHITE;
    -fx-border-color: rgb(2,144,46);
    -fx-border-width: 4; 
    -fx-cursor:hand;
}

.botonAnyadir{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
    -fx-cursor:hand;
}

.botonAnyadirExperiencia{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #3366ff;
    -fx-cursor:hand;
}

.paneexperiencia{
    -fx-background-color: rgba(226, 207, 181, 0.9);
    -fx-background-radius: 8;
}

.paneExperienciaTitulo{
    /*-fx-background-color: rgba (165, 147, 122, 0.8);*/  
    -fx-background-color: rgba(165, 147, 122, 0.8);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.combo{
    -fx-background-color: white; 
}

.paneActividadBuscadorSeleccionado{
    -fx-background-color: rgba(104, 90, 71,0.8);
    -fx-background-radius: 20;
}

.listaVisualExperiencias{
    -fx-background-color: rgba(104, 90, 71,0.8);
}

.botonConsultarExperiencias{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
    -fx-border-width: 4; 
    -fx-cursor:hand;
}

.botonImprimirExperiencia{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(20,40,100);
    -fx-border-width: 4; 
    -fx-cursor:hand;
}
.botonConsultarExperiencias:hover{
    -fx-font-weight: bold;
    -fx-text-fill: rgb(2,144,46);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: WHITE;
    -fx-border-color: rgb(2,144,46);
    -fx-border-width: 4; 
    -fx-cursor:hand;
}

.botonImprimirExperiencia:hover{
    -fx-font-weight: bold;
    -fx-text-fill: rgb(20,40,100);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: WHITE;
    -fx-border-color: rgb(20,40,100);
    -fx-border-width: 4; 
    -fx-cursor:hand;
}
/*ESTILOS_VISTA.BUSCADOR------------------------------------------------------*/

.paneActividadBuscador{
    -fx-background-color: rgba(192, 166, 131,1); 
    -fx-background-radius: 20;
}

.paneBuscador{

    -fx-background: rgba(255, 255, 255, 0.6);
    -fx-background-color:transparent;
    -fx-background-radius: 20;
}

.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.buscador{
    -fx-background-color: #cccccc;
}

.tituloBusc{
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
    -fx-font-size: 16px;
}

.descripcionBusc{
    text-area-background:rgb(226, 207, 181);
}

.descripcionBusc .content{
    -fx-background-color: text-area-background;
}

/*ESTILOS_VISTA.INFORMACION---------------------------------------------------*/

.imgInfor{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-background-color: rgb(165, 147, 122);
    -fx-background-radius: 5;
}

/*ESTILOS_VISTA.PERFIL--------------------------------------------------------*/

.panePerfilPersonal{
    -fx-background-color: rgb(229, 202, 165);
    -fx-background-radius: 10;
    -fx-border-color: rgb(229, 202, 165);
    -fx-border-width: 5 ; 
}

.botonGuardarModificacion{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
    -fx-cursor:hand;
}


.barraPerfil{
    -fx-background-color: rgb(229, 202, 165);

}

.panePerfilPersonalEditable{
    -fx-background-color: rgb(153, 151, 142);
    -fx-background-radius: 10;
    -fx-border-color: rgb(153, 151, 142);
    -fx-border-width: 5 ; 
}

.botonEditar{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(20,40,100);
    -fx-border-width: 4; 
    -fx-cursor:hand;

}

/* ESTILOS_EXPERIENCIAS_ADMIN_CONTROLLER ------------------------------------*/
.fondoExperienciaAdmin {
    -fx-background-color: rgb(223, 191, 159);
}

.background1ColumnaIdActividad {
    -fx-background-color: rgba(132, 174, 232,.5);
}

.background2ColumnaIdActividad {
    -fx-background-color: rgba(255, 255, 255,.1);
}

.background1ColumnaNombreActividad {
    -fx-background-color: rgba(132, 174, 232,.5);
}

.background2ColumnaNombreActividad {
    -fx-background-color: rgba(255, 255, 255,.1); 
}

.background1ColumnaPrecioActividad {
    -fx-background-color: rgba(132, 174, 232,.5);
}

.background2ColumnaPrecioActividad {
    -fx-background-color: rgba(255, 255, 255,.1);
}


.paneBienv{
    -fx-background-color: rgba(229, 202, 165,0.6);

}



.paneNuevaContra{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}


/* ESTILOS VENTANA INFORMACION -----------------------------------------------*/

.informacionTV{  /* SE APLICA AL TREEMAP*/
    -fx-font-size:14px;
    -fx-font-weight: bold;
}

/*ESTILOS_VISTA.ADMINISTRADOR.PRINCIPAL-----------------------------------------------------*/

.menuP{
    -fx-background-color:rgb(142, 143, 145);
}

.botonMenuInicioP{
    -fx-font-weight: bold;
    -fx-text-fill: #000000;

    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color:rgb(132, 132, 132);
    -fx-border: solid; 
    -fx-cursor:hand;
}

.botonMenuInicioP:hover{
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;

    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-color:rgb(84, 86, 89);
    -fx-cursor:hand;
}
.botonMenuP{
    -fx-font-weight: bold;
    -fx-text-fill: #000000;

    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color:rgb(142, 143, 145);
    -fx-border: solid;
    -fx-cursor:hand;
}

.botonMenuP:hover{
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;

    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-color:rgb(84, 86, 89);
    -fx-cursor:hand;
}

.fondoLiso{
    -fx-background-color:rgb(179, 180, 181);
}
