/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 may. 2019, 16:33:08
    Author     : joser
*/

.botonCerrarInformacion{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 10px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(238,32,32);
    -fx-text-fill: WHITE;
}
.botonActividad{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-text-fill: WHITE;
}
.paneInformacionActividades{
    -fx-background-color: rgb(109,109,109);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.tituloActividades {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
}
.botonMenu{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(77,102,204);
}

.textoActividad{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-background-color: rgb(77,102,204);
}

.botonAceptarRegistro{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
}
.botonCrearExperiencia{
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(2,144,46);
}
.scrollPaneActividades{

}
.calendarioRegistrar{
    -jfx-default-color: rgb(77,102,204);
    -fx-control-inner-background: rgb(240, 240, 240);
    -fx-pref-width: 220.0;
    -fx-pref-height: 180.0;
}
.calendarioRegistrar:hover{
    -jfx-default-color: rgb(33,68,208);
}

